.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.page > article > h2 {
    font-size: 1.7rem;
}

.page > article > p {
    color: var(--text-color-dark);
    font-size: 0.9rem;
}

.page > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.page > img {
    margin: auto;
}

.textfield {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    gap: 0.4rem;
    width: 400px;
}

.textfield > label {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color-darker);
}

.inputAdornment {
    padding: 0.8rem;
    border-radius: 0.5rem 0 0 0.5rem;
    color: var(--text-color-light);
    background-color: var(--text-color-lighter);
    font-size: 0.8rem;
    cursor: default;
    user-select: none;
}

.inputField {
    display: flex;
}

.inputField > input {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--text-color-lighter);
    width: 100%;
}

.textfield > input::placeholder {
    color: var(--text-color-dark);
}

.cta {
    padding: 0.9rem;
    width: 400px;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    cursor: pointer;
}

.optionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.activeOption {
    border: 1.5px solid var(--color-primary) !important;
}

.option {
    width: 120px;
    text-align: left;
    border: 1.5px solid var(--text-color-light);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.option > p {
    font-size: 0.85rem;
    color: var(--text-color-dark);
}

.lightText {
    color: var(--text-color-light);
}

@media (max-width: 450px) {
    .textfield {
        width: 100%;
    }
    .cta {
        width: 100%;
    }
}