@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --text-color-dark: #9BA0AB;
  --text-color-darker: #40434A;
  --text-color-light: #BDC5D6;
  --text-color-lighter: #F4F6F9;
  --color-primary: #5A4AD1;

}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1,h2,h3,p {
  margin: 0.6rem 0;
}

h3 {
  font-size: 0.9rem;
  color: var(--text-color-darker);
}